# Node
node_modules/
dist/
outputs/
.cache/
coverage/

# OS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.idea/
.vscode/

# Build
*.tsbuildinfo

# Env
.env
.env.*

prompts/
.cursor/
.github/instructions
.github/prompts
.voder/
